body {
  background-color: rgb(238, 189, 230);
}
header {
  font-family: "Oswald", sans-serif;
  background-color: rgb(215, 82, 195);
  color: #fff;
  font-size: 37px;
  margin: 0 auto;
  padding: 10px;
  display: block;
  text-align: center;
}
.btn-primary {
  display: block;
  margin: 30px auto;
  border-radius: 10px;
  padding: 10px;
  background: rgb(215, 82, 195);
  border-color: #fff;
}
.lyrics {
  display: block;
  text-align: center;
  margin: 30px;
}
footer {
  display: block;
  text-align: center;
  margin: 20px auto;
}
